<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header> 
        <h1></h1>
     <img src="/imagen/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
     <h2> lugar para poner la barra de busqueda </h2>
     <h2> comprar en cuotas y sin tarjeta de credito </h2>

     <h3> Ofertas </h3>
     <h3> Tienda oficiales </h3>
     <h3> Vender</h3>
     <h3> Ayuda </h3>

     <h4> Crear tu cuenta </h4>
     <h4> Igresar</h4>
     <h4> Mis compras</h4>
    </header>
</body>
</html>
